<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="Flashcards app">
<meta name="author" content="Marcin Wachowiak">
<link rel="icon" href="{% static "favicon.ico" %}">

<title>Flash cards</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
	crossorigin="anonymous">
<link rel="stylesheet" href="{% static "assets/css/signin.css" %}" />

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
	integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
	crossorigin="anonymous"></script>

		{% block head_content %}
		{% endblock %}

</head>
<body>
	<div class="container">
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-8"
						aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Flash cards</a>
				</div>
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-8">
					<ul class="nav navbar-nav">
						<li class="active"><a href="index">Home</a></li>
						<li><a href="settings">Settings</a></li>
						<li><a href="#">About</a></li>
					</ul>
				</div>
			</div>
		</nav>
		
		{% block content %}
		{% endblock %}
	</div>

		{% block bottom %}
		{% endblock %}

</body>
</html>
