{% extends "base.html" %}

{% block head_content %}

<link rel="stylesheet"
	href="https://select2.github.io/select2/select2-3.5.2/select2.css">
<link rel="stylesheet"
	href="https://fk.github.io/select2-bootstrap-css/css/select2-bootstrap.css" />
<link rel="stylesheet"
	href="https://fk.github.io/select2-bootstrap-css/css/gh-pages.css" />

{% endblock %}

{% block content %}

		<form action="startQuiz" role="form" >
			<div class="select2-wrapper triple-top-buffer">
				<div
					class="input-group form-group input-group-sm select2-bootstrap-prepend  col-xs-12 col-md-6 col-md-offset-3 top-buffer">
					<label for="select-dictionary">Dictionary</label> 
					<select
						class="form-control select2-dictionary" name="dictionary" required>
						<option />
						<optgroup label="Public quizes" id='optgroup-public' ></optgroup>
					</select>
				</div>

				<div
					class="input-group form-group input-group-sm select2-bootstrap-prepend col-xs-12 col-md-6 col-md-offset-3 top-buffer">

					<label for="select-no-of-questions">Number of questions</label> 
					<select
						class="form-control select2-number-of-questions" name="questions"
						placeholder="Number of questions" required>
						<option></option>
						<option value="5">5</option>
						<option value="10">10</option>
						<option value="15">15</option>
						<option value="20">20</option>
						<option value="20">30</option>
						<option value="20">50</option>
					</select>
				</div>
			</div>

			<div class="span7 text-center top-buffer">
				<button type="submit" class="btn btn-primary btn-lg">Start quiz</button>
			</div>
		</form>
{% endblock %}
	</div>
	<!-- /container -->

{% block bottom %}
	<script src="//select2.github.io/select2/select2-3.4.2/select2.js"></script>
	<script>
		$(".select2-dictionary").select2({
			placeholder : " "
		});
		$(".select2-number-of-questions").select2({
			placeholder : " "
		});
		
		var mySelect = $('#optgroup-public');
		$(document).ready(function() {
		    $.ajax({
		        url: "rest/dictionaries/"
		    }).then(function(data) {
		    	for (var i = 0, len = data.results.length; i < len; i++) {
		    		mySelect.append($('<option></option>').val(data.results[i].name).attr('value', data.results[i].id).html(data.results[i].name));
		        }		   });
		});
		
	</script>
{% endblock %}
</body>
</html>
