{% extends "base.html" %} {% block content %}

<div
	class="input-group form-group input-group-sm col-xs-12 col-md-6 col-md-offset-3">
	<label id="question" for="question" class="top-buffer">Question</label>
	<input id="answer" type="text" id="answer" name="answer"
		class="form-control" placeholder="Answer" required autofocus>

	<span class="col-xs-12 top-buffer"></span>
	<div class="col-xs-6 col-xs-offset-3">
		<button id="next-button" class="btn btn-lg btn-block btn-primary"
			type="button">Next</button>
	</div>

	<div class="progress col-xs-12 triple-top-buffer">
		<div id="progress-bar" class="progress-bar" role="progressbar"
			aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
			style="width: 0%;">0%</div>
	</div>

</div>

<!-- Modal -->
<div class="modal fade" id="resultsModal" tabindex="-1" role="dialog" aria-labelledby="resultsModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="resultsModalLabel">Quiz results</h4>
      </div>
      <div class="modal-body">
        Quiz results
      </div>
      <div class="modal-footer">
        <button id='main-menu-button' type="button" class="btn btn-default">Main menu</button>
        <button id='restart-quiz-button' type="button" class="btn btn-primary" >Restart quiz</button>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block bottom %}

<span id="holder-dictionary" hidden="true">{{ dictionary }}</span>
<span id="holder-questions" hidden="true">{{ questions }}</span>

<script>
	var data;
	var answers;
	var current = 0;

	function populateQuiz(quizData) {
		$('#next-button').text('Next');
		setTimeout( function() { $( '#answer' ).focus() }, 500 );
		data = quizData;
		answers = [];
		current = 0;
	}

	function setProgress(progress) {
		$('.progress-bar').css('width', progress + '%').attr('aria-valuenow',
				progress);
		$('#progress-bar').text(progress + '%');
	}

	function finishQuiz() {
		$('#next-button').text('Results');
		$('#resultsModal').modal('show');
		$('#restart-quiz-button').focus();
		setTimeout( function() { $( '#restart-quiz-button' ).focus() }, 500 );
	}

	function askQuestion(questionNo) {

		clearAnswer();
		var no_of_questions = data.length;

		if (questionNo == no_of_questions) {
			finishQuiz();
			return;
		}
		$('#answer').val('');
		current = questionNo;
		progress = 100 * (current + 1) / no_of_questions;
		setProgress(progress);
		$('#question').text(data[current].word);
	}

	function setInvalidAnswer(){
		$('#answer').css("background-color", "#FF0000");		
	}

	function setCorrectAnswer(){
		$('#answer').css("background-color", "#00FF00");		
	}

	function clearAnswer(){
		$('#answer').css("background-color", "#FFFFFF");		
	}

	function isInvalidAnswerState(){
		return $('#answer').css("background-color") == "rgb(255, 0, 0)";
	}

	function checkAnswer() {
		correct = (data[current].translation == $('#answer').val());
		answers[current] = correct;
		return correct;
	}

	$(document).ready(function() {

		setProgress(0);
		questions = $('#holder-questions').text();
		serv_url = 'rest/dictionaries/' + $('#holder-dictionary').text();
		$.ajax({
			url : serv_url
		}).then(function(data) {
			populateQuiz(data.flashcards);
			askQuestion(0);
		})
	});

	function answered(){
		
		if(isInvalidAnswerState()){
			clearAnswer();
			askQuestion(current + 1);
			return;
		}
		
		correct = checkAnswer();
		if(correct){
			setCorrectAnswer();
			setTimeout( function() {  askQuestion(current + 1); }, 500 );

		}else{
			correctAnswer = data[current].translation;
			setInvalidAnswer();
			$('#answer').val('Should be ' + correctAnswer);
		}		
				
	}
	
	$('#next-button').on('click', function(e) {
		answered();
	});

	$('#answer').keypress(function (e) {
		  if (e.which == 13) {
				answered();
				return false;
			  }
			});

	$('#main-menu-button').on('click', function(e) {
		$('#resultsModal').modal('hide');
		window.location.replace('index');
	});

	$('#restart-quiz-button').on('click', function(e) {
		$('#resultsModal').modal('hide');
		populateQuiz(data);
		askQuestion(0);
	});

	</script>
{% endblock %}
