{% extends "base.html" %} {% block content %}

<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                Do you really want to delete selected dictionary?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a id="deleteConfirmedButton" class="btn btn-danger btn-ok">Delete</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit-dictionary" tabindex="-1" role="dialog" aria-labelledby="editDictionaryLabel" aria-hidden="true">
	<form>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            Edit a dictionary details
            </div>
            <div class="modal-body">

	<label for="name" >Name</label>
        <input type="text" id="name" name="name" class="form-control" maxlength="30" placeholder="Name" required autofocus>
	<label for="description" >Description</label>
        <input type="text" id="description" name="description" class="form-control" maxlength="200" placeholder="Description" required>
	<label for="base-language" >Base language</label>
	<input id="base-language" name="base-language" placeholder="Base language" list="base-language-list" class="form-control"/>
        <datalist id="base-language-list" style="form-control" title="Base language">
        <option value="en">English</option>
        <option value="pl">Polish</option>
        </datalist>
	<label for="target-language" style="col-md-">Target language</label>
	<input id="target-language" name="target-language" placeholder="Target language" list="target-language-list" class="form-control"/>
        <datalist id="target-language-list" style="form-control" title="Target language">
        <option value="en">English</option>
        <option value="pl">Polish</option>
        </datalist>

                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-ok btn-ok">Confirm</button>
            </div>
        </div>
    </div>
	</form>
</div>

<div id="dict-panel" class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">List of your dictionaries</div>
	<div class="panel-body">
        <div id="edit-dictionary-button" class="btn pull-right btn-info btn-ok">Add a dictionary</div>
		
	</div>

	<!-- Table -->
	<table id="dictTable" class="table">
		<thead>
			<tr  class="dictTableHeader">
				<th>ID</th>
				<th>Name</th>
				<th>Description</th>
				<th>Created</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>

<div id="words-panel" class="table-hide panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">Words defined for given dictionary</div>
	<div class="panel-body">
		<p>This is a list of words</p>
	</div>

	<!-- Table -->
	<table id="dictTable" class="table">
		<thead>
			<tr  class="dictTableHeader">
				<th>ID</th>
				<th>Word</th>
				<th>Translation</th>
				<th>Languages</th>
				<th>Created</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
            <div class="modal-footer">
                <button id="back-button" type="button" class="btn btn-default">Back</button>
            </div>
</div>

{% endblock %} 

{% block bottom %} 

<script>

	var data;
	
	function populateDictionaries(dictData) {

		data = dictData;
		$(".dictTableRow").remove();
		
		for(pos=0 ; pos < dictData.length ; pos++){
			addDictionaryRow(data[pos].id, data[pos].name, data[pos].description, data[pos].created);
		}
		if ($(window).width() < 400 ) {
		    $(".btn-danger").text("X");
		}
		else { 
			$(".btn-danger").text("Remove");
		}

	}

	function addDictionaryRow(id, name, desc, created){
		$('#dictTable tr:last').after(
				"<tr class=\"dictTableRow\">" + 
					"<td class=\"row-id\">" + id + "</td>" +
					"<td>" + name + "</td>"+
					"<td>" + desc + "</td>"+
					"<td>" + created + "</td>"+
					"<td><button type=\"button\" class=\"btn btn-danger\">Remove</button></td>"+
				"</tr>");
	}

	function loadDictionaries(){
		serv_url = 'rest/users/{{ user.id }}';
		$.ajax({
			url : serv_url
		}).then(function(data) {
			populateDictionaries(data.dictionaries);
		})
	}
	function showDictDetails(){
		$('#dict-panel').hide();
		$('#words-panel').show();
	}
	
	function hideDictDetails(){
		$('#dict-panel').show();
		$('#words-panel').hide();		
	}
	
	function removeSuccess(){
		alert('Dictionary successfully deleted');
	}
	
	function removeError(xhr, error){
        console.debug(xhr); 
        console.debug(error);
    }

	function deleteDictionary(dictionaryId){
		serv_url = 'rest/dictionaries/' + dictionaryId + '/';
		$.ajax({
			url : serv_url,
			type: 'DELETE',
	        success: removeSuccess,
		    error: removeError
		    
		}).then(function(data) {
			loadDictionaries();
		})

	}

	var csrftoken = getCookie('csrftoken');
		
	$.ajaxSetup({
	    beforeSend: function(xhr, settings) {
	        if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
	            // Send the token to same-origin, relative URLs only.
	            // Send the token only if the method warrants CSRF protection
	            // Using the CSRFToken value acquired earlier
	            xhr.setRequestHeader("X-CSRFToken", csrftoken);
	        }
	    }
	});
	$(document).ready(function() {
		
		loadDictionaries();

	});

	$(document).on('click', '.dictTableRow', function(e) {
		showDictDetails();
	});

	var selectedId;
	function showConfirmationModal(){
		$('#confirmationModal').modal('show');
		//deleteDictionary(selectedId);
	}

	$('#deleteConfirmedButton').on('click', function(e) {
		e.stopPropagation();
		$('#confirmationModal').modal('hide');
		deleteDictionary(selectedId);
	});

	$('#back-button').on('click', function(e) {
		hideDictDetails();
	});
	$(document).on('click', '.btn-danger', function(e) {
		e.stopPropagation();

		selectedId = $(this).closest("tr")   // Finds the closest row <tr> 
        .find(".row-id")     // Gets a descendent with class="nr"
        .text();
        
        showConfirmationModal();
	});

	$(document).on('click', '#edit-dictionary-button', function(e) {
		$('#edit-dictionary').modal('show');
	});

	</script>
{% endblock %}
